#album-info {
  font-family: impact;
}

#album-cover-art {
  padding-top: 50px;
  background-position: relative;
  height: 40%;
  width: 40%;
}

.song-number {
  padding-right: 10px;
}

.song-actions {
  border-style: solid;
  background-color: black;
}

.song-title {
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 15px;
  text-align: left;
}

.song-duration {
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 30px;
}
